/* Krāsu noformējums (piemērs, kā lietot - "var(--krāsa)"): */
:root {
    --t1: #1B2D06;
    --t2: #201E02;

    --e1: ;
    --e2: ;
    --e3: ;

    --b1: #FCFBED;
    --b2: #DBEE5C;
}

h1, label, strong, th {
    color: red;
}

td, p {
    color: blue;
}

.table {
    --bs-table-hover-color: yellow;
    --bs-table-hover-bg: white;
}

.img-thumbnail {
    border: 3px solid purple;
}

.img-thumbnail:hover {
    border: 3px solid yellow;
}

.naudas_zime {
    color: blue;
    background: lightblue;
    border: 1px solid blue;
}


/* Veidlapu un ievades lauku noformējums: */
.form-control, .form-control:focus {
    color: blue;
    border-color: blue;
    box-shadow: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="purple" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    cursor: pointer;
}

input[type=time]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path fill="purple" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M0 0h24v24H0z" fill="none"/><path fill="purple" d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>');
    cursor: pointer;
}

input[type=time], input[type=date] {
    cursor: text;
}

.form-control[readonly] {
    background: white;
    cursor: unset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: blue;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* Pogu noformējums: */
.btn {
    color: white;
    background: purple;
    border: 1px solid purple;
}

.btn:hover {
    color: purple;
    background: white;
    border: 1px solid purple;
}


/* Ikonas (rādīt/paslēpt paroli) noformējums: */
#ikona {
    color: white;
}

#pārslēgt-ikonu {
    border: 1px solid purple;
    background: purple;
}

/* Ikona maina izskatu, kad tai novieto kursoru virsū: */
#pārslēgt-ikonu:hover {
    background: white;
}

#pārslēgt-ikonu:hover #ikona {
    color: purple;
}


/* Navigācijas joslas noformējums: */
.navbar-nav .nav-link.active {
    color: red;
}

.navbar {
    background: var(--k3);
}

.navbar a {
    border-radius: 4px;
}

.navbar .navbar-nav .nav-link:hover {
    background: var(--k1);
    color: yellow;
}

.navbar-brand:hover {
    color: yellow;
}

.navbar-brand {
    text-align: center;
    width: 82px;
    margin: 0;
    padding: 10px;
    color: purple;
    font-weight: bold;
}

#navigācijas_joslas_pārslēdzējs {
    padding-right: 82px;
    padding-left: 0;
}

@media (min-width: 992px) {
    .nav-link {
        text-align: center;
        width: 121px;
    }
}

@media (max-width: 991px) {
    #nav-profila-vards, #nav-profila-bilde {
        display: none;
    }
}

@media (max-width: 1285px) {
    #nav-profila-vards {
        display: none;
    }
}

.nav-link {
    color: blue;
}

.navbar-text {
    margin-left: 10px;
    margin-bottom: 0;
    text-align: center;
    max-width: 270px;
    min-width: 42px;
    color: purple;
}


/* Ritjoslas noformējums: */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: blue;
}

body::-webkit-scrollbar-thumb {
    background: purple;
}


/* Tabulu noformējums: */
.table td, tr {
    text-align: center;
}


/* Veidlapu papildus noformējums: */

/* Lai nerāda bultiņas numuru ievadei (Chrome, Safari, Edge, Opera): */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Lai nerāda bultiņas numuru ievadei (Firefox): */
input[type=number] {
    -moz-appearance: textfield;
}


/* Bilžu augšupielāde un apskate: */
.blizu_apskata_bilde {
    border: 2px solid purple;
    background: white;
}

.blizu_apskata_bilde:hover {
    border: 2px solid yellow;
}


/* Pārējais noformējums: */
h1 {
    text-align: center;
}