/* Krāsu noformējums (piemērs, kā lietot - "var(--krāsa)"): */
:root {
    --k1: Red;
    --k2: Blue;
    --k3: Yellow;
    --k4: Lightblue;
}

h1, label, strong, th, h4 {
    color: var(--k1);
}

td, p {
    color: var(--k2);
}

.table {
    --bs-table-hover-color: var(--k3);
    --bs-table-hover-bg: white;
}

.img-thumbnail {
    border: 3px solid purple;
    padding: 0;
}

/*
.img-thumbnail:hover {
    border: 3px solid var(--k3);
}
*/

.naudas_zime {
    color: var(--k2);
    background: var(--k4);
    border: 1px solid var(--k2);
}

.tabulas_galvene {
    background: dimgray;
}

.table-group-divider, .table-bordered {
    border-color: gray;
}


/* Veidlapu un ievades lauku noformējums: */
.form-control, .form-control:focus {
    color: var(--k2);
    border-color: var(--k2);
    box-shadow: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="purple" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    cursor: pointer;
}

input[type=time]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path fill="purple" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M0 0h24v24H0z" fill="none"/><path fill="purple" d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>');
    cursor: pointer;
}

input[type=time], input[type=date] {
    cursor: text;
}

.form-control[readonly] {
    background: white;
    cursor: unset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--k2);
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* Pogu noformējums: */
.btn {
    color: white;
    background: purple;
    border: 1px solid purple;
}

.btn:hover {
    color: purple;
    background: white;
    border: 1px solid purple;
}


/* Ikonas (rādīt/paslēpt paroli) noformējums: */
#ikona {
    color: white;
}

#pārslēgt-ikonu {
    border: 1px solid purple;
    background: purple;
}

/* Ikona maina izskatu, kad tai novieto kursoru virsū: */
#pārslēgt-ikonu:hover {
    background: white;
}

#pārslēgt-ikonu:hover #ikona {
    color: purple;
}


/* Navigācijas joslas noformējums: */
.navbar-nav .nav-link.active {
    color: var(--k1);
}

.navbar {
    background: white;
}

.navbar a {
    border-radius: 4px;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--k3);
}

.navbar-brand:hover {
    color: var(--k3);
}

.navbar-brand {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: purple;
    font-weight: bold;
}

#navigācijas_joslas_pārslēdzējs {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 992px) {
    .nav-link {
        text-align: center;
        width: 121px;
    }
}

@media (max-width: 991px) {
    #nav-profila-vards, #nav-profila-bilde {
        display: none;
    }
    .container {
        margin:0;
        max-width: 100%;
    }
}

@media (max-width: 1285px) {
    #nav-profila-vards {
        display: none;
    }
}

.nav-link {
    color: var(--k2);
}

.navbar-text {
    margin-bottom: 0;
    text-align: center;
    color: purple;
}


/* Ritjoslas noformējums: */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--k2);
}

body::-webkit-scrollbar-thumb {
    background: purple;
}


/* Tabulu noformējums: */
.table td, tr {
    text-align: center;
}


/* Veidlapu papildus noformējums: */

/* Lai nerāda bultiņas numuru ievadei (Chrome, Safari, Edge, Opera): */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Lai nerāda bultiņas numuru ievadei (Firefox): */
input[type=number] {
    -moz-appearance: textfield;
}


/* Bilžu augšupielāde un apskate: */
.blizu_apskata_bilde {
    border: 2px solid purple;
    background: white;
}

/*
.blizu_apskata_bilde:hover {
    border: 2px solid var(--k3);
}
*/

/* Bilžu galerijas noformēšana: */
.bilzu_galerija {
    display: flex;
    flex-wrap: wrap;
}

.bilzu_kolonna {
    flex: 33%;
    max-width: 33%;
}

.bilzu_kolonna img {
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .bilzu_kolonna {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .bilzu_kolonna {
        flex: 100%;
        max-width: 100%;
    }
}

.galerijas_grupa, .blizu_apskata_bildes_lauks {
    position: relative;
    margin-bottom: 3px;
    margin-right: 3px;
}

.galerijas_bilde {
    cursor: pointer;
}

.bilzu_galerijas_bildes_lejupielade, .bildes_aizversana, #augsupieladet_profila_bildi_poga {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(128, 0, 128, 0.7); /* purple (violets) */
    transform: scale(0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.galerijas_bilde:hover + .bilzu_galerijas_bildes_lejupielade {
    transform: scale(1);
}

.bildes_aizversana {
    border-style: none;
    font-size: 50px;
}

.blizu_apskata_bilde:hover + .bildes_aizversana {
    transform: scale(1);
    border-color: purple;
}

.bilzu_galerijas_bildes_lejupielade:hover, .bildes_aizversana:hover {
    transform: scale(1);
    color: white;
}


/* Profila bildes augšupielādes noformēšana: */
#liela_profila_bilde {
    object-fit: cover;
    aspect-ratio: 1 / 1; /* kvadrāts */
    width: 210px;
    height: calc(100% - 16px);
    padding-left: 0;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profila_bildes_redigesna {
        flex: 0 0 auto;
        height: 100%;
        width: 100% !important;
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    #liela_profila_bilde {
        width: 100% !important;
    }

    .profila_teksta_redigesna {
        flex: 0 0 auto;
        width: 100% !important;
        padding-right: 12px !important;
    }
}

#liela_profila_bilde:hover + #augsupieladet_profila_bildi_poga {
    transform: scale(1);
    border-color: purple;
}

#augsupieladet_profila_bildi_poga:hover {
    transform: scale(1);
}

#augsupieladet_profila_bildi_poga {
    border-style: none;
    text-align: center;
    padding-top: 16px;
}


/* Pārējais noformējums: */
h1 {
    text-align: center;
    margin-top: 8px;
}