{% extends 'pamats.html' %}

{% block head %}
<title>Galerija</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ galerija.nosaukums }}</h1>

        {% if ir_fotografs %}
            <div id="bilzu_augsupielades_bloks">
                <input id="bilzu_augsupielade" type="file" maxlength="32" name="bildes" multiple accept="image/png, image/jpg, image/jpeg" style="display: none;">
                <div style="width: 100%; display: flex; margin-bottom: 6px;">
                    <button type="button" class="btn" id="augsupieladet_poga" style="width: 33%; margin-right: 6px;">Augšupielādēt bildes</button>
                    <button type="button" class="btn" id="nonemt_poga" style="width: 33%; margin-right: 6px;">Izņemt visas bildes</button>
                    <button type="button" class="btn" id="sablabat_poga" style="width: 33%;" onclick="SutitBildes()">Saglabāt</button>
                </div>
                <div id="bilzu_apskats"></div>
            </div>
        {% endif %}

        {% if pasa_bildes %}
            <a href="{% url 'izdzēst bildes' id %}" class="btn" style="width: 100%;">Izdzēst galerijā esošās bildes</a>
        {% endif %}

        <p>Bilžu skaits: <strong>{{ skaits }}</strong></p>

        <div class="bilzu_galerija">
                {%  widthratio bildes.count 3 1 as bildes_kolonna %}
                {% widthratio bildes_kolonna 1 2 as otra_bildes_kolonna %}
                {% widthratio bildes_kolonna 1 3 as tresa_bildes_kolonna %}

                {% for bilde in bildes %}
                    {% if forloop.counter == bildes_kolonna|add:"1" or forloop.counter == otra_bildes_kolonna|add:"1" or forloop.counter == tresa_bildes_kolonna|add:"1" %}</div>{% endif %}
                    {% if forloop.counter == 1 or forloop.counter == bildes_kolonna|add:"1" or forloop.counter == otra_bildes_kolonna|add:"1" or forloop.counter == tresa_bildes_kolonna|add:"1" %}<div class="bilzu_kolonna">{% endif %}
                    <div class="galerijas_grupa">
                        <img src="{{ bilde.fails.url }}" alt="Bilde" class="galerijas_bilde img-thumbnail">
                        <a class="bilzu_galerijas_bildes_lejupielade rounded" download href="{{ bilde.fails.url }}">Lejupielādēt bildi</a>
                    </div>
                    {% if forloop.counter == bildes.count %}</div>{% endif %}
                {% endfor %}
        </div>

    </div>

    <!-- jQuery Core -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Priekš bilžu augšupielādes: -->
    <script>
        var nonemt_poga = document.getElementById("nonemt_poga");
        var bilzu_augsupielade = document.getElementById("bilzu_augsupielade");
        var bilzu_apskats = document.getElementById("bilzu_apskats");
        var django_bildes = [];

        // Izdzēš bildi (div elementu un visus tā komponentus):
        function IzdzestBildi(element) {
            indekss = django_bildes.indexOf(element.parentElement.firstChild.src);

            django_bildes.splice(indekss, 1);
            bilzu_apskats.removeChild(element.parentElement);

            // Noņem bildes no failu ievades lauka:
            bilzu_augsupielade.value = "";
        }

        if (bilzu_augsupielade) {
            bilzu_augsupielade.addEventListener("change", function() {
                var bildes_numuri = Object.keys(this.files);
                var bildes = this.files;

                if (bildes) {
                    bildes_numuri.forEach(numurs => {
                        bilde = bildes[numurs]

                        var bildes_url = new FileReader();

                        bildes_url.addEventListener("load", function() {
                            // Izveido jaunu div tagu:
                            var div = document.createElement("div");
                            div.setAttribute("class", "blizu_apskata_bildes_lauks");
                            div.style = "display:inline-block;";
                            bilzu_apskats.appendChild(div);


                            // Izveido jaunu bildi un pievieno to bilžu apskatā::
                            var bilde = new Image();
                            bilde.src = this.result;
                            bilde.classList = "blizu_apskata_bilde rounded";
                            bilde.height = 100;
                            bilde.style = "display:inline-block;";
                            div.appendChild(bilde);

                            // Pievieno bildi sarakstam:
                            django_bildes.push(this.result);

                            // Izveido jaunu pogu bildei:
                            var poga = document.createElement("button");
                            poga.type = "button";
                            poga.innerHTML = "X";
                            poga.classList = "bildes_aizversana rounded";
                            poga.setAttribute("onclick", "IzdzestBildi(this)")
                            div.appendChild(poga);
                        });

                        bildes_url.readAsDataURL(bilde);
                    });
                }
            });

            // Augšupielādes pogas dizains:
            var augsupieladet_poga = document.getElementById("augsupieladet_poga");

            augsupieladet_poga.addEventListener("click", function() {
                augsupieladet_poga.blur();
                bilzu_augsupielade.click();
            });

            // Poga, kas izdzēš/noņem visas augšupielādes bildes:
            nonemt_poga.addEventListener("click", function() {
                nonemt_poga.blur();
                django_bildes = [];
                while (bilzu_apskats.firstChild) {
                    bilzu_apskats.removeChild(bilzu_apskats.lastChild);
                }
            });

        }

        // Aizsūta bildes, lai Django tās saņem:
        function SutitBildes() {
            $.ajax({
                method: 'POST',
                //url: {% url "galerija" id %},
                url: '{% url "galerija" id %}',
                //url: /galerijas/{{ id|stringformat:"i" }}/,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                mode: 'same-origin',
                data: {
                    'django_bildes[]': django_bildes,
                },
                success: function(){
                    window.location.reload();
                },
            });
        }

    </script>

{% endblock %}