<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap metatagi -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Statiskie faili -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block head %}
    {% endblock %}

</head>
<body>
<!-- Navigācijas josla -->
<nav class="navbar navbar-expand-lg sticky-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'sākumlapa' %}">FotoPelle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigācijas_joslas_pārslēdzējs" aria-controls="navigācijas_joslas_pārslēdzējs" aria-expanded="false" aria-label="Pārslēgt navigātoru">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigācijas_joslas_pārslēdzējs">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'sākumlapa' %}">Sākums</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link {% if request.path == '/pasutit/' %}active{% endif %}" href="{% url 'pasūtīt' %}">Pasūtīt</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/izrakstities/' %}active{% endif %}" href="{% url 'izrakstīties' %}">Izrakstīties</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link {% if request.path == '/pieslegties/' %}active{% endif %}" href="{% url 'pieslēgties' %}">Pieslēgties</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/registreties/' %}active{% endif %}" href="{% url 'reģistrēties' %}">Reģistrēties</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>