{% extends 'pamats.html' %}

{% block head %}
<title>Pasūtīt</title>
{% endblock %}

{% block body %}

    <div class="container">

        {% if messages%}
            {% for message in messages %}
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Veiksmīgs">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Aizvērt"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h1>Pasūtīt</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.pasutijuma_datums.id_for_label }}" class="form-label">Pasūtījuma datums</label>
                {{ form.pasutijuma_datums }}
                {{ form.errors.pasutijuma_datums }}
            </div>

            <div class="mb-3">
                <label for="{{ form.pasutijuma_laiks.id_for_label }}" class="form-label">Pasūtījuma laiks</label>
                {{ form.pasutijuma_laiks }}
                {{ form.errors.pasutijuma_laiks }}
            </div>

            <div class="mb-3">
                <label for="{{ form.pakalpojuma_veids.id_for_label }}" class="form-label">Pakalpojuma veids</label>
                {{ form.pakalpojuma_veids }}
                {{ form.errors.pakalpojuma_veids }}
            </div>

            <div class="mb-3">
                <label class="form-label" id="pakalpojuma_apraksta_virsraksts" style="display: none;"></label>
                <textarea readonly class="form-control" id="pakalpojuma_apraksts" style="display: none;"></textarea>
                <label class="form-label" id="pakalpojuma_cenas_virsraksts" style="display: none;"></label>
                <textarea readonly class="form-control" id="pakalpojuma_cena" style="display: none;"></textarea>

                <div id="bilzu_augsupielade" style="display: none;">
                    <label for="" class="form-label">Augšupielādēt bildes</label>
                    <input type="file" name="bildes" multiple>
                </div>

            </div>

            <div class="mb-3">
                <label for="{{ form.kopeja_cena.id_for_label }}" class="form-label">Kopējā cena</label>
                {{ form.kopeja_cena }}
                {{ form.errors.kopeja_cena }}
            </div>

            <div class="mb-3">
                <label for="{{ form.apraksts.id_for_label }}" class="form-label">Apraksts</label>
                {{ form.apraksts }}
                {{ form.errors.apraksts }}
            </div>

            <button type="submit" class="btn btn-primary">Izveidot pasūtījumu</button>

        </form>

    </div>

    <!--  Priekš pakalpojuma apraksta un galerijas (izsauc funkciju, kad pārmaina izvēlnes vērtību):  -->
    <script>
        function PakalpojumaApraksts() {
            var pakalpojuma_veids = document.getElementById("id_pakalpojuma_veids").value;

            if (pakalpojuma_veids == "") {
                apraksts = "";
                cenas_virsraksts = "";
                cena = "";
                document.getElementById("pakalpojuma_apraksta_virsraksts").style = "display: none;";
                document.getElementById("pakalpojuma_cenas_virsraksts").style = "display: none;";
                document.getElementById("pakalpojuma_apraksts").style = "display: none;";
                document.getElementById("pakalpojuma_cena").style = "display: none;";

            }
            else {
                document.getElementById("pakalpojuma_apraksta_virsraksts").style = "display: block;";
                document.getElementById("pakalpojuma_cenas_virsraksts").style = "display: block;";
                document.getElementById("pakalpojuma_apraksts").style = "display: block;";
                document.getElementById("pakalpojuma_cena").style = "display: block;";

                var pakalpojumu_apraksti = {{ pakalpojumu_apraksti|safe }};

                pakalpojumu_apraksti.forEach(function(pakalpojuma_apraksts) {
                    if (pakalpojuma_apraksts.pk == pakalpojuma_veids) {
                        apraksts = pakalpojuma_apraksts.fields.apraksts;
                        cena = pakalpojuma_apraksts.fields.cena;
                    }
                });

                var pedejais_burts = pakalpojuma_veids.charAt(pakalpojuma_veids.length - 1);
                if (pedejais_burts != "s") {
                    pakalpojuma_veids = pakalpojuma_veids + "s";
                }
                pakalpojuma_veids = pakalpojuma_veids + " apraksts:";
                cenas_virsraksts = "Cena:";
            }

            // Rādīt vai nerādīt failu (bilžu) augšupielādes opciju:
            if (pakalpojuma_veids == "Bilžu izdrukas apraksts:") {
                document.getElementById("bilzu_augsupielade").style = "display: block;";
            }
            else {
                document.getElementById("bilzu_augsupielade").style = "display: none;";
            }

            document.getElementById("pakalpojuma_apraksta_virsraksts").innerHTML = pakalpojuma_veids;
            document.getElementById("pakalpojuma_apraksts").innerHTML = apraksts;
            document.getElementById("pakalpojuma_cenas_virsraksts").innerHTML = cenas_virsraksts;
            document.getElementById("pakalpojuma_cena").innerHTML = cena;
        }
    </script>

{% endblock %}