{% extends 'pamats.html' %}

{% block head %}
<title>Pasūtījumi</title>
{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ virsraksts }}</h1>
        <p>Pasūtījumu skaits: <strong>{{ skaits }}</strong></p>

        <div class="table-responsive rounded">
            <table class="table table-hover">
                <thead class="table-dark align-middle">
                    <tr>
                        <th scope="col">Nr.</th>
                        <th scope="col">Pakalpojuma veids</th>
                        <th scope="col">Pasūtījuma datums</th>
                        <th scope="col">Lietotājs</th>
<!--                        <th scope="col">Pasūtījuma veiktais datums</th>-->
                        <th scope="col">Pasūtījuma laiks</th>
                        <th scope="col">Apraksts</th>
                        <th scope="col">Kopējā cena</th>
                        <th scope="col">Aktīvs</th>

                        <th scope="col">Bilžu Galerija</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider table-light align-middle">
                    {% for pasutijums in pasutijumi %}
                        <tr>
                            <th scope="row">{{ pasutijums.id }}</th>
                            <td>{{ pasutijums.pakalpojuma_veids }}</td>
                            <td>{{ pasutijums.pasutijuma_datums }}</td>
                            <td>{{ pasutijums.lietotajs }}</td>
<!--                            <td>{{ pasutijums.pasutijuma_veiktais_datums }}</td>-->
                            <td>{{ pasutijums.pasutijuma_laiks }}</td>
                            <td>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#apraksts_{{ pasutijums.id }}" aria-expanded="false" aria-controls="apraksts_{{ pasutijums.id }}">
                                    Apskatīt aprakstu
                                </button>
                            </td>
                            <td>{{ pasutijums.kopeja_cena }}</td>
                            <td >{{ pasutijums.aktivs }}</td>
                            <td>
                                <a class="btn btn-primary" type="button" href="/galerijas/{{ pasutijums.id }}">Galerija</a>
                            </td>
                        </tr>

                        <tr class="collapse" id="apraksts_{{ pasutijums.id }}"><td colspan=100 >{{ pasutijums.apraksts }}</td></tr>
                    {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>

    </div>

{% endblock %}