{% extends 'pamats.html' %}

{% block head %}
<title>Pasūtīt</title>
{% endblock %}

{% block body %}

    <div class="container">

        {% if messages%}
            {% for message in messages %}
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Veiksmīgs">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Aizvērt"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h1>Pasūtīt</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ form.pasutijuma_datums.id_for_label }}" class="form-label">Pasūtījuma datums</label>
                {{ form.pasutijuma_datums }}
                {{ form.errors.pasutijuma_datums }}
            </div>

            <div class="mb-3">
                <label for="{{ form.pasutijuma_laiks.id_for_label }}" class="form-label">Pasūtījuma laiks</label>
                {{ form.pasutijuma_laiks }}
                {{ form.errors.pasutijuma_laiks }}
            </div>

            <div class="mb-3">
                <label for="{{ form.pakalpojuma_veids.id_for_label }}" class="form-label">Pakalpojuma veids</label>
                {{ form.pakalpojuma_veids }}
                {{ form.errors.pakalpojuma_veids }}
            </div>

            <div class="pakalpojuma_apraksta_grupa mb-3">
                <div class="mb-3">
                    <label class="form-label" id="pakalpojuma_apraksta_virsraksts" style="display: none;"></label>
                    <textarea readonly class="form-control" id="pakalpojuma_apraksts" style="display: none;"></textarea>
                </div>

                <label class="form-label" id="pakalpojuma_cenas_virsraksts" style="display: none;"></label>
                <div class="input-group mb-3">
                    <input readonly class="form-control" id="pakalpojuma_cena" style="display: none;"/>
                    <span class="input-group-text naudas_zime">€</span>
                </div>

                <div style="display: none;" id="bilzu_augsupielades_bloks">
                    <input id="bilzu_augsupielade" type="file" maxlength="32" name="bildes" multiple accept="image/*" style="display: none;">
                    <button type="button" class="btn" id="augsupieladet_poga">Augšupielādēt bildes</button>
                    <button type="button" class="btn" id="nonemt_poga">Izņemt visas bildes</button>
                    <div id="bilzu_apskats"></div>
                </div>
            </div>

            <div class="mb-3">
                <label for="{{ form.kopeja_cena.id_for_label }}" class="form-label">Kopējā cena</label>
                <div class="input-group mb-3">
                    {{ form.kopeja_cena }}
                    <span class="input-group-text naudas_zime">€</span>
                </div>
                {{ form.errors.kopeja_cena }}
            </div>

            <div class="mb-3">
                <label for="{{ form.apraksts.id_for_label }}" class="form-label">Apraksts</label>
                {{ form.apraksts }}
                {{ form.errors.apraksts }}
            </div>

            <button type="submit" onclick="SutitBildes()" class="btn">Izveidot pasūtījumu</button>

        </form>

    </div>

    <!-- jQuery Core -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Priekš pakalpojuma apraksta un galerijas (izsauc funkciju, kad pārmaina izvēlnes vērtību): -->
    <script>
        function PakalpojumaApraksts() {
            var pakalpojuma_veids = document.getElementById("id_pakalpojuma_veids").value;

            if (pakalpojuma_veids == "") {
                apraksts = "";
                cenas_virsraksts = "";
                cena = "";
                document.getElementById("pakalpojuma_apraksta_virsraksts").style = "display: none;";
                document.getElementById("pakalpojuma_cenas_virsraksts").style = "display: none;";
                document.getElementById("pakalpojuma_apraksts").style = "display: none;";
                document.getElementById("pakalpojuma_cena").style = "display: none;";

            }
            else {
                document.getElementById("pakalpojuma_apraksta_virsraksts").style = "display: block;";
                document.getElementById("pakalpojuma_cenas_virsraksts").style = "display: block;";
                document.getElementById("pakalpojuma_apraksts").style = "display: block;";
                document.getElementById("pakalpojuma_cena").style = "display: block;";

                var pakalpojumu_apraksti = {{ pakalpojumu_apraksti|safe }};

                pakalpojumu_apraksti.forEach(function(pakalpojuma_apraksts) {
                    if (pakalpojuma_apraksts.pk == pakalpojuma_veids) {
                        apraksts = pakalpojuma_apraksts.fields.apraksts;
                        cena = pakalpojuma_apraksts.fields.cena;
                    }
                });

                var pedejais_burts = pakalpojuma_veids.charAt(pakalpojuma_veids.length - 1);
                if (pedejais_burts != "s") {
                    pakalpojuma_veids = pakalpojuma_veids + "s";
                }
                pakalpojuma_veids = pakalpojuma_veids + " apraksts:";
                cenas_virsraksts = "Cena:";
            }

            // Rādīt vai nerādīt failu (bilžu) augšupielādes opciju:
            if (pakalpojuma_veids == "Bilžu izdrukas apraksts:") {
                document.getElementById("bilzu_augsupielades_bloks").style = "display: block;";
            }
            else {
                document.getElementById("bilzu_augsupielades_bloks").style = "display: none;";
            }

            document.getElementById("pakalpojuma_apraksta_virsraksts").innerHTML = pakalpojuma_veids;
            document.getElementById("pakalpojuma_apraksts").innerHTML = apraksts;
            document.getElementById("pakalpojuma_cenas_virsraksts").innerHTML = cenas_virsraksts;
            document.getElementById("pakalpojuma_cena").value = cena;
        }

        window.onload = PakalpojumaApraksts();
    </script>

    <!-- Priekš bilžu augšupielādes: -->
    <script>
        var bilzu_augsupielade = document.getElementById("bilzu_augsupielade");
        var bilzu_apskats = document.getElementById("bilzu_apskats");
        var django_bildes = [];

        // Izdzēš bildi (div elementu un visus tā komponentus):
        function IzdzestBildi(element) {
            indekss = django_bildes.indexOf(element.parentElement.firstChild.src);

            django_bildes.splice(indekss, 1);
            bilzu_apskats.removeChild(element.parentElement);

            // Noņem bildes no failu ievades lauka:
            bilzu_augsupielade.value = "";
        }

        bilzu_augsupielade.addEventListener("change", function() {

            var bildes_numuri = Object.keys(this.files);
            var bildes = this.files;

            if (bildes) {
                bildes_numuri.forEach(numurs => {
                    bilde = bildes[numurs]

                    var bildes_url = new FileReader();

                    bildes_url.addEventListener("load", function() {
                        // Izveido jaunu div tagu:
                        var div = document.createElement("div");
                        div.setAttribute("class", "blizu_apskata_bildes_lauks");
                        bilzu_apskats.appendChild(div);


                        // Izveido jaunu bildi un pievieno to bilžu apskatā::
                        var bilde = new Image();
                        bilde.src = this.result;
                        bilde.classList = "blizu_apskata_bilde rounded";
                        bilde.height = 100;
                        div.appendChild(bilde);

                        // Pievieno bildi sarakstam:
                        django_bildes.push(this.result);

                        // Izveido jaunu pogu bildei:
                        var poga = document.createElement("button");
                        poga.type = "button";
                        poga.classList = "btn-close";
                        poga.setAttribute("onclick", "IzdzestBildi(this)")
                        div.appendChild(poga);
                    });

                    bildes_url.readAsDataURL(bilde);
                });
            }
        });

        // Aizsūta bildes, lai Django tās saņem:
        function SutitBildes() {
            $.ajax({
                method: 'POST',
                url: {% url "pasūtīt" %},
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                mode: 'same-origin',
                data: {
                    'django_bildes[]': django_bildes,
                },
            });
        }

        // Augšupielādes pogas dizains:
        var augsupieladet_poga = document.getElementById("augsupieladet_poga");

        augsupieladet_poga.addEventListener("click", function() {
            bilzu_augsupielade.click();
            augsupieladet_poga.blur();
        });

        // Poga, kas izdzēš/noņem visas augšupielādes bildes:
        var nonemt_poga = document.getElementById("nonemt_poga");
        nonemt_poga.addEventListener("click", function() {
            nonemt_poga.blur();
            django_bildes = [];
            while (bilzu_apskats.firstChild) {
                bilzu_apskats.removeChild(bilzu_apskats.lastChild);
            }
        });

    </script>

    <!-- Priekš ciparu ievades lauka, lai nevarētu laukā ievadīt nevēlamas vērtības: -->
    <script>
        kopeja_cena = document.getElementById("id_kopeja_cena");

        var neatlautais_ievads = ["-", "+", "e", "E"];

        kopeja_cena.addEventListener("keypress", function (ievads) {
            if (neatlautais_ievads.includes(ievads.key)) {
                ievads.preventDefault();
            }
        });
    </script>
{% endblock %}