{% extends 'pamats.html' %}

{% block head %}
<title>Rediģēt profilu</title>
{% endblock %}

{% block body %}

    <div class="container">
        {% if messages%}
            {% for message in messages %}
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Veiksmīgs">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Aizvērt"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h1>Rediģēt profilu</h1>

        <form method="post" enctype="multipart/form-data" id="profila_redigesanas_veidlapa" onsubmit="console.log('BRUUH');">
            {% csrf_token %}

            <div class="row justify-content-md-center">
                <div class="col col-md-12 order-2 profila_teksta_redigesna" style="width: calc(100% - 234px); padding-right: 0;">
                    <div class="mb-3">
                        <label for="{{ form.vards.id_for_label }}" class="form-label">Vārds</label>
                        {{ form.vards }}
                        {{ form.errors.vards }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.uzvards.id_for_label }}" class="form-label">Uzvārds</label>
                        {{ form.uzvards }}
                        {{ form.errors.uzvards }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.telefona_numurs.id_for_label }}" class="form-label">Telefona numurs</label>
                        {{ form.telefona_numurs }}
                        {{ form.errors.telefona_numurs }}
                    </div>
                </div>

                <div class="col col-md-12 profila_bildes_redigesna order-1" style="width: 210px; padding: 0;">
                    <label for="liela_profila_bild" class="form-label">Profila bilde</label>
                    <div style="position: relative;">
                        {{ form.profila_bilde }}
                        <img id="liela_profila_bilde" class="img-thumbnail rounded" style="width: 210px;" src="{{ user.profila_bilde.url }}" alt="Profila bilde">
                        <button type="button" class="rounded" id="augsupieladet_profila_bildi_poga" style="display: flex; padding-bottom: 16px;">Augšupielādēt jaunu profila bildi</button>
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: flex; margin-bottom: 6px;">
                <button type="submit" class="btn" style="width: 50%; margin-right: 6px;">Saglabāt izmaiņas</button>
                <button id="atcelt_poga" type="button" class="btn" onclick="location.reload();" style="width: 50%;">Atcelt</button>
            </div>

        </form>
    </div>

    <!-- Priekš profila bildes augšupielādes: -->
    <script>
        // Augšupielādes pogas dizains:
        var augsupieladet_poga = document.getElementById("augsupieladet_profila_bildi_poga");
        var bilzu_augsupielade = document.getElementById("id_profila_bilde");

        augsupieladet_poga.addEventListener("click", function() {
            bilzu_augsupielade.click();
        });

        bilzu_augsupielade.addEventListener("change", function() {
            var bilde = this.files[0];
            if (bilde) {
                var bildes_url = new FileReader();
                bildes_url.addEventListener("load", function() {
                    liela_profila_bilde.src = this.result;
                    localStorage.setItem("jauna_bilde", this.result);
                });
                bildes_url.readAsDataURL(bilde);
            }
        });

        // Izmaiņu atcelšanas gadījumā tiek izdzēsta lokāli saglabātā (jaunā) profila bilde, ja tāda eksistē:
        var atcelt_poga = document.getElementById("atcelt_poga");
        atcelt_poga.addEventListener("click", function() {
            if (localStorage.getItem("jauna_bilde")) {
                localStorage.removeItem("jauna_bilde");
            }
        });

        // Pārbauda vai ir augšupielādēta jauna bilde, kura nav saglabāta:
        function LapasAtversana() {
            if (localStorage.getItem("jauna_bilde")) {
                liela_profila_bilde.src = localStorage.getItem("jauna_bilde");
            }
        }

        window.onload = LapasAtversana();
    </script>
{% endblock %}